body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    background-color: #ffffff;
    border-bottom: 3px solid #28a745;
    box-shadow: 0 2px 3px rgb(8, 126, 43);
    font-size: 1em;
    color: rgb(17, 179, 57);
    animation: slideDown 2s ease-in-out;
  }

  @keyframes slideDown {
    from { transform: translateY(-100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  .contenedor-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .logo {
    height: 100px;
    margin-right: 20px;
    animation:slideDown 2s ease-in-out;
  }
  
  h1 {
    font-size: 40px;
    font-family: Stencil;
    animation:slideDown 2s ease-in-out;
  }
  
  main {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    color: #28a745;
    font-size: 20px;
    font-family: stencil;
  }
  
  .formulario-contacto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .botones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    flex: 1;
    transition: background 0.3s ease;
  }
  
  input[type="reset"] {
    background-color: #6c757d;
  }
  
  input[type="submit"]:hover {
    background-color: #218838;
  }
    
  input[type="reset"]:hover {
    background-color: #5a6268;
  }
    
  footer {
    background-color: #e0e0e0;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 0.9em;
  }
