body {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 101%;
  overflow-x: hidden;
  padding-bottom: 80px;
}
 iframe {
 width: 90%;
 height: 125vh;
 padding: 2px;
 margin-left: -710px;
 border: none;
 border-radius: 10px; 
 box-shadow: 2px 2px 5px rgba(0,0,0);
 background: white;
}

.sidebar {
  width: 317px;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 4px 0 10px rgba(0, 0, 0);
}
.panel {
  padding: 10px;
  width: 80%;
  margin: 20px auto;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(0, 255, 0);
  box-shadow: 10px 10px 10px black;
  margin-top: 2px;
  border-radius: 10px;
}

.sidebar .logo {
  height: 100px;
  display: block;
  margin: 0 auto 20px;
}

.sidebar h2 {
  text-align: center;
  font-family: 'Stencil';
  margin-bottom: 15px;
}

.username {
  text-align: center;
  margin-top: -12px;
  font-weight: bold;
  margin: 20px auto;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aa {
  margin-top: -8px;
  text-decoration: none;
  color: white;
  background-color: green;
  padding: 9px 10px;
  border-radius: 5px;
  font-size: 17px;
  transition: 0.3s;
}

.nav-menu .aa:hover {
  background: #45c645;
  transform: translateX(8px);
}

.logout {
  background-color: red; 
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1em;
  transition: 0.3s;
}

.logout:hover {
  background-color: darkred;
  transform: translateY(5px);
}

.main-content {
  margin-left: 270px;
  padding: 28px;
  width: calc(100% - 250px);
  margin-top: -23px;
  /* animation: fadeIn 1.5s ease-in-out; */
}

header {
  border-radius: 4px;
  float: left;
  margin-left: -3px;
  font-family: Stencil;
  margin-top: -11px;
  padding: 0;
  width: 1005px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: rgb(17, 179, 57);
  box-shadow: 0 2px 3px rgb(8, 126, 43);
  z-index: 1000;
}
header h1 {
  font-size: 30px;
  margin: 0;
  padding: 10px;
}
.hr {
  width: 10%;
  height: 2px;
  background-color: rgb(0, 255, 0);
  margin: 10px auto;
}
h3 {
  padding: 10px;
  width: 60%;
  margin: 20px auto;
  font-weight: bold;
  font-size: 26px;
  background-color: rgb(0, 255, 0);
  box-shadow: 10px 10px 10px black;
  margin-top: 80px;
  border-radius: 10px;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* 
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
.hora {
  margin-top: -5px;
  font-size: 14px;
}
.fecha {
  color: rgb(0, 30, 128);
  margin-right: 16px;
}
.hora {
  color: rgb(0, 30, 128);
  margin-left: -45px;
}
.vv {
  color: black;
  margin-right: -40px; 
}
.vvv {
  color: black;
}
