body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #000000;
    font-size: 1em;
    color: rgb(17, 179, 57);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideDown 1s ease-in-out;
}

h1 {
font-size: 40px;
font-family: Stencil;
animation:slideDown 2s ease-in-out;
}

.logo {
    height: 100px;
    margin-right: 20px;
    animation:slideDown 2s ease-in-out;
}
@keyframes slideDown {
    from { transform: translateY(-100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}
.option {
    display: block;
    padding: 15px;
    font-size: 1.2em;
    background: #0a7906;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.option:hover {
    background: #04310e;
}