body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #4CAF50, #000000);
}
h1 {
  font-size: 40px;
  font-family: Stencil;
  animation:slideDown 2s ease-in-out;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: #000000;
  font-size: 1em;
  color: rgb(17, 179, 57);
  animation: slideDown 2s ease-in-out;
}

@keyframes slideDown {
  from { transform: translateY(-100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

  .logo {
    height: 100px;
    margin-right: 20px;
    animation:slideDown 2s ease-in-out;
  }
  h2 {
      font-size: 20px;
      font-family: stencil;
  }
  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
