body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 60px;
}
h1 {
    font-size: 100px;
    color: #fa0707;
    margin-top: -5px;
}
p {
    font-size: 17px;
    margin-top: -68px;
    font-weight: bold;
}
img {
    width: 300px;
    height: 286px;
    margin-top: -60px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.details {
    display: inline-block;
    font-size: 16px;
    margin-top: -6px;
    padding: -2px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0);
    width: 28%;
}

li {
    text-align: left;
    padding: 1px;
    font-size: 16px;
}
a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color:  green;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
a:hover {
    background-color: #19b607;
    transform: translateY(-2px);
}