body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #4CAF50, #000000);
  text-align: center;
  margin: 0;
  padding: 0;
}
h2 {
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  background: rgb(35, 122, 57);
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 20px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: rgb(35, 122, 57);
  color: rgb(255, 255, 255);
}
table, th, td {
  border: 1px solid #ddd;
}
th, td {
  padding: 10px;
  text-align: center;
}
.button1 {
  background: #000000;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.button1:hover{
  background-color: #4CAF50;
}
.button2 {
  background: #000000;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background: red;
}
.option {
  padding: 20px 30px;
  font-size: 1em;
  background:rgb(35, 122, 57);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  float: right;
}
.option:hover {
  background: green;
}
.contain {
  display:flex;
  margin-top: 20px;
  margin-left: 12px;
}
.rgs {
  text-decoration: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  width: auto;
  padding: 5px;
  font-size: 18px;
}
.rgs:hover {
  background-color: green;
  transform: scale(1.1);
  transition: 0.3s;
}