body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #4CAF50, #ffffff);
  text-align: center;
  margin: 0;
  padding: 0;
}
h2 {
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
  background-color: green;
  box-shadow: 10px 10px 10px black;
  margin-top: 1px;
}
.list {
  padding: 10px; 
  width: 25%;
  margin: 10px auto;
  background-color: green;
  box-shadow: 10px 10px 10px black;
}
.container { 
  background:  rgb(255, 255, 255); 
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0);
  max-width: 600px;
  margin: 20px auto;
}
label {
  font-weight: bold;
  display: block;
}
input {
  padding: 4px;
  border-radius: 4px;
  width: 90%;
  height: 25px;
  border-style: none;
  border: 1px solid #ccc;
  font-weight: bold;
}
input:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255);
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: rgb(20, 136, 49);
  color: rgb(0, 0, 0);
}
table, th, td {
  border: 1px solid #141414;
}
th {
  padding: 10px;
  text-align: center;
}
td {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
}
.button1 {
  background: #000000;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  height: 38px;
}
.button1:hover{
  background-color: green;
}
.option {
  padding: 20px 30px;
  font-size: 1em;
  background:rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  float: right;
  box-shadow: 5px 5px 1px #157c34;
}
.option:hover {
  color: white;
  background: rgb(47, 146, 47);
  outline: 2px solid white;
}
.contain {
  display:flex;
  margin-top: 10px;
  margin-left: 12px;
}
.rgs {
  text-decoration: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color:  rgb(17, 179, 57);
  width: auto;
  padding: 15px;
  font-size: 18px;
  box-shadow: 2px 2px 7px #157c34;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.rgs:hover {
  background-color: green;
  color: white;
  transform: scale(1.1);
  transition: 0.3s;
  outline: 2px solid white;
}