body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100v;
  background: radial-gradient(circle, #4CAF50, #000000);
  width: 100%;
  overflow-x: hidden;
}
h1 {
  font-size: 40px;
  font-family: Stencil;
  animation: slideDown 2s ease-in-out;
}
h2 {
  text-shadow: 2px 2px rgb(13, 117, 53);
}
h3 {
  text-shadow: 2px 2px 5px rgb(161, 153, 153);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  background-color: #000;
  color: rgb(17, 179, 57);
  animation: slideDown 2s ease-in-out;
} 
@keyframes slideDown {
  from { transform: translateY(-100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.left-section {
  display: flex;
  align-items: center;
}
.logo {
  height: 90px;
  margin-right: 20px;
}
.container {
  max-width: 900px;
  margin: 30px auto;
}
.info {
  text-align: justify;
  font-size: 1.3em;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.access-button {
  padding: 10px 20px;
  font-size: 1em;
  background: black;
  color: rgb(17, 179, 57);
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: background 0.3s;
}
.access-button:hover {
  background: #585358;
}
.carousel {
  max-width: 1000px;
  height: 400px;
  margin: 30px auto;
  overflow: hidden; 
  position: relative;
  border-radius: 10px;
}
.carousel img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  display: none;
  /*filter: brightness(50%);   brillo de la imagen */
}
.carousel img.active {
  display: block;
  border-radius: 10px;
}
.span {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  position: relative;
}
.span::after {
 content: "";
 width: 0;
 height: 4px;
 background: blue;
 position: absolute;
 left: 0;
 bottom: -8px;
 transition: width 0.5s ease;
}
.span:hover {
  color: white;
}

.span:hover::after {
  width: 100%;
}

/*
.span:hover {
  color: #ffffff;
  border-bottom: 2px solid #007bff;
}*/

footer {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: black;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-wrap: wrap;
  position: fixed; /* Cambia a fixed */
  bottom: -100px; /* Lo oculta debajo de la pantalla */
  left: 0;
  right: 0;
  z-index: 1000;
  height: 50px;
  transition: bottom 1s ease; /* Transición suave (opcional) */
}
.footer-left, .footer-right {
  display: flex;
  align-items: center;
}
.footer-left img {
  height: 50px;
  margin-right: 100px;
}
.log {
  width: 70px;
  height: 140px;
}
.footer-right p {
  margin: 0; /* Elimina márgenes por defecto */
  padding-left: 200px; /* Añade un pequeño espacio entre left y right */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}
.features {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
  color: rgb(17, 179, 57);
}
.feature {
  width: 20%;
  background: black;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.7s;
  transition-delay: 0.3s; /*esecifica el tiempo de inicio*/
}
.feature:hover {
  transform: translateY(-25px);
  /*rotar    transform: rotate(360deg);*/
}
.prf {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 255);
}
.menu-container {
  position: sticky;
  top: 0; /* Lo pega a la parte superior */
  z-index: 1001;
  height: 0; /* Evita que ocupe espacio en el flujo */
  float: right;
}
/* Menú */
.menu-button {
  position: sticky;
  top: 20px;
  right: 20px;
  background: black;
  color: white;
  padding: 12px 18px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s;
  z-index: 1001;
}
.menu-button:hover {
  background: #00b31e;
  transform: scale(1.1);
  transition: 0.3s;
}
.menu-icon {
  width: 28px;
  height: 3px;
  background: rgb(17, 110, 45);
  position: relative;
}
.menu-icon::before, .menu-icon::after {
  content: "";
  width: 28px;
  height: 3px;
  background: rgb(15, 134, 44);
  position: absolute;
}
.menu-icon::before { top: -8px; }
.menu-icon::after { top: 8px; }

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}
.menu-list {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100vh;
  background: black;
  padding-top: 60px;
  transition: right 0.3s ease;
  text-align: left;
  z-index: 1002;
}
.menu-overlay.show { display: block; }
.menu-overlay.show .menu-list { right: 0; }

.menu-list a {
  display: block;
  padding: 15px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: background 0.3s;
  border-radius: 5px;
  margin: 10px;
}
.menu-list a:hover {
  background: green;
}
