html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100v;
  background-color: rgb(35, 122, 57);
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 80px;
}
h1 {
  font-size: 40px;
  font-family: Stencil;
  animation: slideDown 2s ease-in-out;
  text-shadow: 0 2px 2px #ffffff, 0 2px 2px rgb(0, 0, 0);
}
.sis {
  color: black;
}
.icon {
  text-shadow:none; 
}
h2 {
  margin-top: -16px;
  text-shadow: 1px 2px 2px rgb(141, 143, 142);
}
h3 {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  background-color: #f5f5f5;
  color: rgb(17, 179, 57);
  animation: slideDown 2s ease-in-out;
  box-shadow: 0 2px 3px rgb(8, 126, 43);
} 
@keyframes slideDown {
  from { transform: translateY(-100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
.left-section {
  display: flex;
  align-items: center;
}
.logo {
  height: 90px;
  margin-right: 20px;
}
.container {
  max-width: 900px;
  margin: 30px auto;
}
.info {
  text-align: justify;
  font-size: 1.3em;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.carousel {
  max-width: 1000px;
  height: 400px;
  margin: 30px auto;
  overflow: hidden; 
  position: relative;
}
.carousel img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  display: none;
  /*filter: brightness(50%);   brillo de la imagen */
}
.carousel img.active {
  display: block;
  border-radius: 10px;
}
.span {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  position: relative;
}
.span::after {
 content: "";
 width: 0;
 height: 4px;
 background: blue;
 position: absolute;
 left: 0;
 bottom: -8px;
 transition: width 0.5s ease;
}
.span:hover {
  color: rgb(116, 66, 66);
}

.span:hover::after {
  width: 100%;
}

/*
.span:hover {
  color: #ffffff;
  border-bottom: 2px solid #007bff;
}*/

footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #f5f5f5;
  color: rgb(17, 179, 57);
  padding: 2px 6px;
  width: 99%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  bottom: 0;  
  gap: 65px;
  z-index: 10;
  height: 85px;
  box-shadow: 0px -2px 10px rgb(8, 126, 43);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-size: 18px;
}
.log {
  width: 90px;
  height: 80px;
  animation: rotateLogo 7s infinite linear;
}
@keyframes rotateLogo {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}
.features {
  gap: 34px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  color: rgb(17, 179, 57);
}
.feature {
  /* border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0); */
  box-shadow: 20px 15px 3px rgb(51, 49, 49);
  width: 25%;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.7s;
  transition-delay: 0.3s; /*especifica el tiempo de inicio*/
}
.feature:hover {
  transform: translateY(-25px);
  outline: 3px solid green;
  /*rotar    transform: rotate(360deg);*/
}
.prf {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.menu-container {
  position: relative;
  top: 0;
  z-index: 1001;
  height: 0;
  float: right;
}
.menu-button {
  position: absolute;
  top: -9px;
  right: 0;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  color: rgb(17, 179, 57);
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s, transform 0.3s, color 0.3s;
  z-index: 1001;
  box-shadow: 2px 2px 4px rgb(27, 27, 27);
}
.menu-button:hover {
  background: #0c7927;
  color: white;
  transform: scale(1.05);
}
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 20px;
  gap: 4px;
  margin: 0;
}
.line {
  width: 100%;
  height: 3px;
  background-color: rgb(27, 156, 10);
  border-radius: 2px;
  transition: background 0.3s;
}
.menu-button:hover .line {
  background-color: white;
}
.menu-text {
  font-weight: bold;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}
.menu-list {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100vh;
  background: rgb(255, 255, 255);
  padding-top: 60px;
  transition: right 0.3s ease;
  text-align: left;
  z-index: 1002;
}
.menu-overlay.show { display: block; }
.menu-overlay.show .menu-list { right: 0; }

.menu-list a {
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: background 0.3s, transform 0.3s ease;
  border-radius: 5px;
  margin: 10px;
  border-bottom: 1px solid black;
}
.menu-list a:hover {
  background: green;
  color: white;
  box-shadow: 12px 12px 7px rgb(94, 93, 93);
  transform: scale(1.01);
}
