body {
  background: radial-gradient(circle, #4CAF50, #000000);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  width: 50%;
  margin: -45px auto;
  background-color: green;
  box-shadow: 10px 10px 10px black;
} 
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 35px;
  background: rgb(20, 136, 49);
  color: rgb(0, 0, 0);
}
table, th, td {
  border: 1px solid #141414;
}
th {
  padding: 10px;
  text-align: center;
}
td {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center; 
}
.button1 {
  background: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}
.button1:hover{
  background-color:  rgb(170, 102, 19);
}
.button2 {
  background: #ec051d;
  color: white;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.button2:hover {
  background: #9e0d1b;;
}
.contain {
  display:flex;
  margin-top: 20px;
  margin-left: 12px;
}
.rgs {
  text-decoration: none;
  border-radius: 10px;
  background-color: rgb(7, 7, 7);
  color: rgb(255, 255, 255);
  width: auto;
  padding: 5px;
  font-size: 18px;
  box-shadow: 2px 2px 7px #157c34;
}
.rgs:hover {
  background-color: rgb(13, 82, 13);
  transform: scale(1.0);
  transition: 0.3s;
  outline: 1px solid white; /*se remplaza por border y evita que se sobreponga a otros elementos*/
  /*outline-offset: 5px; se le da un espacio al borde para que no se vea tan pegado*/
} 