body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header { 
    width: 98%; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(35, 122, 57);
    font-size: 1em;
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 3px rgb(8, 126, 43);
    margin: 0;
}


