body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: radial-gradient(circle, #4CAF50, #000000);
    margin: 0;
    padding: auto;
  }
  h1 {
      font-size: 40px;
      font-family: Stencil;
      /*animation:slideDown 2s ease-in-out;*/
  }

  header {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 3px;
    background-color: #000000;
    font-size: 1em;
    color: rgb(17, 179, 57);
    /*animation: slideDown 2s ease-in-out;*/
  }

  /*@keyframes slideDown {
    from { transform: translateY(-100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }*/


  .logo {
    height: 100px;
    margin-left: 20px;
    /*animation:slideDown 2s ease-in-out;*/
  }

